.NAV_SECTION {
  position: relative;
}

.NAV_SECTION > div {
  display: flex;
  justify-content: space-between;
  column-gap: 84px;
  padding: 92px 24px;
}

.t-gradient {
  background: -webkit-linear-gradient(
    88.64deg,
    #460b2f 2.49%,
    #ff7000 65.31%,
    #fda001 78.68%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t-secondary {
  font-size: 64px;
  font-weight: 700;
  line-height: 85.31px;
}

.t-ternary {
  font-size: 40px;
  font-weight: 400;
  line-height: 53.32px;
  color: var(--title-color);
}

.t-highlight {
  font-size: 24px;
  font-weight: 700;
  line-height: 31.99px;
}

.t-para {
  font-size: 16px;
  font-weight: 400;
  line-height: 28.8px;
}

.about-img-wrap {
  margin-top: 40px;
}

.section-grid_child {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .NAV_SECTION > div {
    flex-direction: column;
    padding: 50px 0 50px 0;
  }

  .t-secondary {
    font-size: 28px;
    font-weight: 700;
    line-height: 37.32px;
  }

  .t-ternary {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.33px;
  }

  .about-img-wrap {
    margin-bottom: 40px;
  }

  .section-grid_child {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}
